$color-light-white: #fff;
$color-medium-white: #fbfbfa;
$color-darker-white: #ddd;

$color-lighter-gray: #999999;
$color-light-gray: #888;
$color-medium-gray: #555;
$color-dark-gray: #333;

$color-full-black: #000;
