$color-light-white: #fff;
$color-medium-white: #fbfbfa;
$color-darker-white: #ddd;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 0 1 300px;
  background-color: $color-medium-white;
  height: 100vh;
  border-right: 1.5px solid rgba($color-darker-white, 0.5);
}

.app-name-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  border: none;
  border-bottom: 1px solid rgba($color-darker-white, 0.5);
  margin-bottom: 0.5rem;
}

.file-box {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: flex-start;
  margin-left: 1rem;
  list-style: none;

  .file-item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 90%;
    cursor: pointer;
    border-radius: 8px;

    svg {
      height: 24px;
      width: 24px;
      fill: #333;
    }
  }

  .active {
    background-color: $color-darker-white;
    border: 2px solid $color-darker-white;
  }
}

.add-file-btn {
  width: 24px;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  cursor: pointer;

  color: #888;
  font-size: 20px;

  &:hover {
    color: #999999;
  }
}

.journal-box {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  background-color: $color-light-white;

  height: 100vh;
}

.journal-box--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  width: 100%;
  background-color: $color-medium-white;
  border-bottom: 1.5px solid rgba($color-darker-white, 0.5);
}

.icons-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
}

.save-disk-icon {
  height: 22px;
  width: 22px;
  fill: #555;
  cursor: pointer;
}

%input-basic {
  height: 2rem;
  width: 100%;
  padding-left: 2rem;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  color: #555;
  border: none;
  border-bottom: 1px solid rgba($color-darker-white, 0.5);

  &:focus {
    outline: none;
  }
}

.journal-file-name {
  @extend %input-basic;
  width: 80%;
}

.journal-box--journal {
  display: flex;
  flex-direction: column;
  flex: 0 1 93vh;
  margin: 0 1rem;
  background-color: white;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.journal-text-area {
  font-size: 1.25rem;
  columns: #333;
  background-color: white;
  padding: 1.5rem 2rem;
  width: 80vw;
  height: 100%;
  text-indent: 20px;

  &:focus-visible {
    outline: none;
  }
}
